@model CreatePatientFormViewModel
@{
    ViewData["Title"] = "Add Patient";
}

<h5>
    <i class="bi bi-plus-circle-dotted"></i>
    Add a new Patient
</h5>


@await Html.PartialAsync("_Alerts")


<form asp-controller="Patient" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Phone" placeholder="Phone">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-light text-black mt-4">Save</button>
        </div>
       
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
